# Paths
Test_Results
Video
modules/build
build
dist
config/Database/Backup
typings
.ipynb_checkpoints
.virtual_documents

# Files
*.svg
*.xcf
*Designer_UIs*
*__pycache__*
*.cache*
*.so
*.pyd
py_smm_base.cpp
scatmm.log
todo

## Windows installation files/folders
pyinstaller_batch.bat
installer.bat
installer.nsi
